body {
    background-image: url("../images/background.png");
    font-family: $font;
    background-color: $black;
}

img {
    max-width: 100%;
}

.container {
    max-width: 960px;
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    -moz-box-shadow: 0 0 15px #888;
    -webkit-box-shadow: 0 0 15px #888;
    box-shadow: 0 0 15px #888;
    margin: 50px auto;

    .wrapper {
        padding: 20px;
    }
}

.clearfix {
    clear: both;
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
