.description {
    .video {
        .videowrapper {
            float: none;
            clear: both;
            width: 100%;
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .text {
        a {
            color: $black;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
            transition: 0.4s;

            i {
                padding-right: 5px;
            }

            &:hover {
                color: $hover;
            }
        }
    }
    @media screen and (min-width:700px) {
        .text {
            float: right;
            width: 45%;

            p {
                margin: 0;
            }
        }

        .video {
            float: left;
            width: 50%;
        }
    }
}
