nav {
    background-color: $black;
    padding: 5px;

    ul {
        list-style: none;
        text-align: right;

        li {
            display: inline-block;
            margin: 0 15px;

            a {
                color: $white;
                text-decoration: none;
                transition: 0.4s;

                &:hover {
                    text-decoration: none;
                    color: $hover;
                }
            }
        }
    }
}
