/* line 1, ../sass/components/_base.scss */
body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/binding_dark.png");
  font-family: "Open Sans", sans-serif;
}

/* line 6, ../sass/components/_base.scss */
img {
  max-width: 100%;
}

/* line 10, ../sass/components/_base.scss */
.container {
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 15px #888;
  -webkit-box-shadow: 0 0 15px #888;
  box-shadow: 0 0 15px #888;
  margin: 50px auto;
}
/* line 20, ../sass/components/_base.scss */
.container .wrapper {
  padding: 20px;
}

/* line 25, ../sass/components/_base.scss */
.clearfix {
  clear: both;
}

/* line 29, ../sass/components/_base.scss */
p {
  margin: 0;
}

/* line 33, ../sass/components/_base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/components/_header.scss */
header {
  width: 100%;
  min-height: 350px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
/* line 9, ../sass/components/_header.scss */
header .title {
  padding-top: 100px;
}
/* line 11, ../sass/components/_header.scss */
header .title .shade {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
/* line 15, ../sass/components/_header.scss */
header .title .shade h1 {
  font-size: 40px;
  margin: 0;
}
/* line 22, ../sass/components/_header.scss */
header .title .shade h2 {
  margin: 0;
  padding-top: 20px;
  font-size: 20px;
}

/* line 1, ../sass/components/_nav.scss */
nav {
  background-color: #000000;
  padding: 5px;
}
/* line 5, ../sass/components/_nav.scss */
nav ul {
  list-style: none;
  text-align: right;
}
/* line 9, ../sass/components/_nav.scss */
nav ul li {
  display: inline-block;
  margin: 0 15px;
}
/* line 12, ../sass/components/_nav.scss */
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 15, ../sass/components/_nav.scss */
nav ul li a:hover {
  text-decoration: none;
}

/* line 3, ../sass/components/_description.scss */
.description .video .videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
/* line 12, ../sass/components/_description.scss */
.description .video .videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 23, ../sass/components/_description.scss */
.description .text a {
  color: #000000;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
/* line 29, ../sass/components/_description.scss */
.description .text a i {
  padding-right: 5px;
}
@media screen and (min-width: 700px) {
  /* line 36, ../sass/components/_description.scss */
  .description .text {
    float: right;
    width: 45%;
  }
  /* line 39, ../sass/components/_description.scss */
  .description .text p {
    margin: 0;
  }
  /* line 43, ../sass/components/_description.scss */
  .description .video {
    float: left;
    width: 50%;
  }
}

/* line 1, ../sass/components/_mainimage.scss */
.main-image {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 20px;
  text-align: center;
}
/* line 7, ../sass/components/_mainimage.scss */
.main-image img {
  width: 300px;
  max-width: 100%;
}
/* line 11, ../sass/components/_mainimage.scss */
.main-image i {
  display: block;
}

/* line 1, ../sass/components/_quotes.scss */
.quotes {
  text-align: center;
  padding-top: 20px;
}
/* line 5, ../sass/components/_quotes.scss */
.quotes .quote {
  vertical-align: top;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
/* line 12, ../sass/components/_quotes.scss */
.quotes .quote img {
  border-radius: 50px;
  display: block;
  margin: auto;
}
/* line 17, ../sass/components/_quotes.scss */
.quotes .quote p {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  /* line 22, ../sass/components/_quotes.scss */
  .quotes ul {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
  }
  /* line 27, ../sass/components/_quotes.scss */
  .quotes .quote {
    width: 30%;
  }
  /* line 29, ../sass/components/_quotes.scss */
  .quotes .quote:nth-child(2) {
    margin-left: 4%;
    margin-right: 4%;
  }
}
